@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Cera PRO Medium" !important;
}

.font-bolder {
    font-family: "Cera Pro Bold";
}

.font-semiregular {
    font-family: "Cera PRO Regular" !important;
}


.dropdown-enter {
    opacity: 0;
    transform: translateY(-10%);
  }
  .dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
  }
  .dropdown-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .dropdown-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 200ms, transform 200ms;
  }
  
  .toggle:checked + .label {
    background-color: #2B54E7 !important;
  }

  .toggle:checked + .label .ball {
    animation: slideOn 0.3s linear forwards;
  }

  .ball {
    animation: slideOff 0.3s linear forwards;
  }

  @keyframes slideOn {
    0% {
      transform: translateX(0) scale(1);
    }

    50% {
      transform: translateX(10px) scale(1.2);
    }

    100% {
     transform: translateX(20px) scale(1);
    }
  }

  @keyframes slideOff {
    0% {
      transform: translateX(20px) scale(1);
    }

    50% {
      transform: translateX(10px) scale(1.2);
    }

    100% {
     transform: translateX(0) scale(1);
    }
  }
  


  ::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #252A4C;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2F3561;
    border-radius: 5px;
    height: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2B54E7;
}